@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: var(--BG);
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    width: 100vw;
    padding: 30px;
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}
.prt
{
    display: flex;
    flex-direction: column;
}
.prt h1
{
    font-size: 100px;
}
.prt p
{
    margin: 15px 0;
    font-size: 35px;
}
.prt .input
{
    display: flex;
    align-items: center;
    margin: 40px 0;
}
.prt .input input
{
    width: 35%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    outline: none;
}
.prt .input button
{
    background: #CC64CE;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 15px;
    transition: 0.4s;
}
.prt .input button span
{
    font-size: 30px;
}
.prt .input button:hover
{
    background: #FF00FF;
}
.waiting
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.waiting .aff
{
    display: flex;
    flex-direction: column;
}
.waiting .aff .loading-anim
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.waiting .aff .loading-anim .circle
{
    margin: 0 25px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    animation: circle 3s infinite;
}
.waiting .aff .loading-anim .circle:nth-child(2)
{
    animation-delay: 1s;
}
.waiting .aff .loading-anim .circle:nth-child(3)
{
    animation-delay: 2s;
}
.waiting .aff h1
{
    font-size: 50px;
    margin: 35px 0;
    text-align: center;
}
.waiting .aff p.indice
{
    font-size: 20px;
    text-align: center;
    color: var(--gray);
}
.msg-disp
{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    user-select: none;
    -webkit-user-select: none;
    max-height: 80vh;
    overflow: hidden;
}
.msg-disp .item
{
    opacity: 0;
    padding: 30px;
    background: rgba(126, 126, 126, 0.28);
    margin: 8px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.msg-disp .item .icon
{
    margin-right: 15px;
}
.msg-disp .item p
{
    font-size: 20px;
}
.msg-disp .good
{
    background: rgba(30, 211, 0, 0.28);
}
.msg-disp .error
{
    background: rgba(207, 0, 0, 0.28);
}
.presentation
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    flex-direction: column;
}
.presentation p.tt
{
    font-size: 30px;
    color: var(--gray);
    margin: 15px 0;
}
.presentation .bg-game
{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}
.presentation .bg-game h1
{
    font-size: 120px;
    text-align: center;
    z-index: 2;
}
.presentation .bg-game .bgg
{
    height: 30vh;
    width: 70vw;
    position: absolute;
    background: linear-gradient(to bottom right, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) top right / 50% 50% no-repeat;
    animation: jeuArrive 1s infinite;
}
.presentation .infos
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.presentation .infos p
{
    margin: 0 15px;
    color: var(--gray);
    font-size: 20px;
}
.dos
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75dvh;
    flex-direction: column;
}
.dos h2
{
    font-size: 30px;
    margin: 20px 0;
    color: var(--gray);
    font-weight: 400;
}
.dos h1
{
    font-size: 55px;
    margin: 20px 0;
}
.dos .card
{
    display: flex;
    align-items: center;
}
.dos .card .pioche
{
    background-image: url('../img/uno/arriere.svg');
    width: 210px;
    height: 297px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.25);
    transition: 0.4s;
    margin: 15px;
    border-radius: 10px;
}
.dos .card .pioche:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.25);
}
.dos .card .cartes
{
    width: 256px;
    height: 336px;
    background-image: url('../img/uno/cartes.png');
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dos .card .cartes .active
{
    width: 210px;
    height: 297px;
}
.dos .deck
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: fixed;
    bottom: -105px;
    transition: 0.4s;
}
.dos .deck .cartes
{
    width: 210px;
    height: 297px;
    margin: -30px;
    box-shadow: -5px 0px 20px 5px rgba(0, 0, 0, 0.42);
    border-radius: 10px;
    transition: 0.4s;
}
.dos .deck:not(.disabled) .cartes
{
    cursor: pointer;
}
.dos .deck:not(.disabled) .cartes:hover
{
    transform: scale(1.1) translate(0, -50px);
    box-shadow: -5px 0px 20px 10px rgba(0, 0, 0, 0.42);
}
.dos .disabled
{
    cursor: not-allowed;
    bottom: -175px;
}
.dos .disabled .cartes::before
{
    content : "";
    background: rgba(56,56,56,0.6);
    border-radius: 10px;
    width: 210px;
    height: 297px;
    display: flex;
}
.dos .player-right
{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    align-items: end;
}
.dos .player-right .items
{
    display: flex;
    align-items: center;
    margin: 15px 50px 15px 0;
    transition: 0.4s;
}
.dos .player-right .items .infos
{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 35px;
}
.dos .player-right .items .infos .img
{
    background: #FF8F8F;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 80px;
    margin: 15px 0;
}
.dos .player-right .items .infos .img img
{
    height: 45px;
}
.dos .player-right .items .card .cartes
{
    width: 94px;
    height: 133px;
    background-size: 100% 100%;
    background-position: center;
    transition: 0.4s;
}
.dos .player-right .items .infos h1
{
    font-size: 20px;
    margin: 0;
}
.dos .player-right .items .card-d
{
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 40px;
    transition: 0.4s;
}
.dos .player-right .items .card-d:hover
{
    width: auto;
    transition: 0.4s;
}
.dos .player-right .items .card-d .carte
{
    width: 94px;
    height: 133px;
    background-image: url('../img/uno/arriere.svg');
    background-size: 100% 100%;
    background-position: center;
    margin: -20px;
    border-radius: 10px;
    transition: 0.4s;
}
.dos .player-left
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    align-items: start;
}
.dos .player-left .items
{
    display: flex;
    align-items: center;
    margin: 15px 0 15px 50px;
    transition: 0.4s;
}
.dos .player-left .items .infos
{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 35px;
}
.dos .player-left .items .infos .img
{
    background: #FF8F8F;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 80px;
    margin: 15px 0;
}
.dos .player-left .items .infos .img img
{
    height: 45px;
}
.dos .player-left .items .card .cartes
{
    width: 94px;
    height: 133px;
    background-size: 100% 100%;
    background-position: center;
    transition: 0.4s;
}
.dos .player-left .items .infos h1
{
    font-size: 20px;
    margin: 0;
}
.dos .player-left .items .card-d
{
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 40px;
    transition: 0.4s;
}
.dos .player-left .items .card-d:hover
{
    width: auto;
    transition: 0.4s;
}
.dos .player-left .items .card-d .carte
{
    width: 94px;
    height: 133px;
    background-image: url('../img/uno/arriere.svg');
    background-size: 100% 100%;
    background-position: center;
    margin: -20px;
    border-radius: 10px;
    transition: 0.4s;
}
.anim-carte
{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}
.anim-carte .carte
{
    width: 94px;
    height: 133px;
    background-image: url('../img/uno/arriere.svg');
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal
{
    position: fixed;
    top: 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(40,40,40,0.6);
}
.modal .color
{
    background: #2E2E2E;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25);
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal .color h1
{
    margin: 40px 0;
}
.modal .color .selector
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 40px;
}
.modal .color .selector .item
{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.modal .color .selector .item:hover
{
    transform: scale(1.1);
}
.modal .color .selector .item:nth-child(1)
{
    background: var(--UNO-Rouge, linear-gradient(159deg, #EC0000 9.51%, #960000 91.8%));
}
.modal .color .selector .item:nth-child(2)
{
    background: var(--UNO-Vert, linear-gradient(158deg, #01CC09 8.58%, #007B05 89.52%));
}
.modal .color .selector .item:nth-child(3)
{
    background: var(--UNO-Bleu, linear-gradient(157deg, #006BCD 5.58%, #00427E 90.79%));
}
.modal .color .selector .item:nth-child(4)
{
    background: var(--UNO-Jaune, linear-gradient(158deg, #F0E933 7.51%, #BEB707 92.23%));
}
.player-right .items .actif .img, .player-left .items .actif .img
{
    background: #72F977 !important;
}



:root
{

    --BG : linear-gradient(131deg, #00091F 15.91%, #320043 73.44%);
    --gray : #ABABAB;

}
@keyframes circle
{
    0%
    {
        transform: translate(0, 0);
    }
    10%
    {
        transform: translate(0, -50px);
    }
    15%
    {
        transform: translate(0, 0);
    }
    100%
    {
        transform: translate(0, 0);
    }
}
@keyframes jeuArrive
{
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}