@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@200;400;500;600;700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: var(--BG);
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}
.prt
{
    display: flex;
    flex-direction: column;
}
.prt h1
{
    font-size: 100px;
}
.prt p
{
    margin: 15px 0;
    font-size: 35px;
}
.prt .input
{
    display: flex;
    align-items: center;
    margin: 40px 0;
}
.prt .input input
{
    width: 35%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    outline: none;
}
.prt .input button
{
    background: #CC64CE;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 15px;
    transition: 0.4s;
}
.prt .input button span
{
    font-size: 30px;
}
.prt .input button:hover
{
    background: #FF00FF;
}
.waiting
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.waiting .aff
{
    display: flex;
    flex-direction: column;
}
.waiting .aff .loading-anim
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.waiting .aff .loading-anim .circle
{
    margin: 0 25px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    animation: circle 3s infinite;
}
.waiting .aff .loading-anim .circle:nth-child(2)
{
    animation-delay: 1s;
}
.waiting .aff .loading-anim .circle:nth-child(3)
{
    animation-delay: 2s;
}
.waiting .aff h1
{
    font-size: 50px;
    margin: 35px 0;
    text-align: center;
}
.waiting .aff p.indice
{
    font-size: 20px;
    text-align: center;
    color: var(--gray);
}
.waiting .btn-changename
{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 15px;
    background: #CC64CE;
    border: none;
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
}
.waiting .btn-changename span
{
    font-size: 30px;
}
.waiting .btn-changename:hover
{
    background: #ff0fff;
}
.msg-disp
{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    user-select: none;
    -webkit-user-select: none;
    max-height: 80vh;
    overflow: hidden;
}
.msg-disp .item
{
    opacity: 0;
    padding: 30px;
    background: rgba(126, 126, 126, 0.28);
    margin: 8px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.msg-disp .item .icon
{
    margin-right: 15px;
}
.msg-disp .item p
{
    font-size: 20px;
}
.msg-disp .good
{
    background: rgba(30, 211, 0, 0.28);
}
.msg-disp .error
{
    background: rgba(207, 0, 0, 0.28);
}
.presentation
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    flex-direction: column;
}
.presentation p.tt
{
    font-size: 30px;
    color: var(--gray);
    margin: 15px 0;
}
.presentation .bg-game
{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}
.presentation .bg-game h1
{
    font-size: 120px;
    text-align: center;
    z-index: 2;
}
.presentation .bg-game .bgg
{
    height: 30vh;
    width: 70vw;
    position: absolute;
    background: linear-gradient(to bottom right, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(255, 243, 177, 0.48) 0%, rgba(255, 255, 255, 0.00) 50%) top right / 50% 50% no-repeat;
    animation: jeuArrive 1s infinite;
}
.presentation .infos
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.presentation .infos p
{
    margin: 0 15px;
    color: var(--gray);
    font-size: 20px;
}
.dos
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75dvh;
    flex-direction: column;
}
.dos h2
{
    font-size: 30px;
    margin: 20px 0;
    color: var(--gray);
    font-weight: 400;
}
.dos h1
{
    font-size: 55px;
    margin: 20px 0;
}
.dos .card
{
    display: flex;
    align-items: center;
}
.dos .card .pioche
{
    background-image: url('../img/uno/arriere.svg');
    width: 210px;
    height: 297px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.25);
    transition: 0.4s;
    margin: 15px;
    border-radius: 10px;
}
.dos .card .pioche:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.25);
}
.dos .card .cartes
{
    width: 256px;
    height: 336px;
    background-image: url('../img/uno/cartes.png');
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dos .card .cartes .active
{
    width: 210px;
    height: 297px;
}
.dos .deck
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: fixed;
    bottom: -105px;
    transition: 0.4s;
}
.dos .deck .cartes
{
    width: 210px;
    height: 297px;
    margin: -30px;
    box-shadow: -5px 0px 20px 5px rgba(0, 0, 0, 0.42);
    border-radius: 10px;
    transition: 0.4s;
}
.dos .deck:not(.disabled) .cartes
{
    cursor: pointer;
}
.dos .deck:not(.disabled) .cartes:hover
{
    transform: scale(1.1) translate(0, -50px);
    box-shadow: -5px 0px 20px 10px rgba(0, 0, 0, 0.42);
}
.dos .disabled
{
    cursor: not-allowed;
    bottom: -175px;
}
.dos .disabled .cartes::before
{
    content : "";
    background: rgba(56,56,56,0.6);
    border-radius: 10px;
    width: 210px;
    height: 297px;
    display: flex;
}
.dos .player-right
{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    align-items: end;
}
.dos .player-right .items
{
    display: flex;
    align-items: center;
    margin: 15px 50px 15px 0;
    transition: 0.4s;
}
.dos .player-right .items .infos
{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 35px;
}
.dos .player-right .items .infos .img
{
    background: #FF8F8F;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 80px;
    margin: 15px 0;
}
.dos .player-right .items .infos .img img
{
    height: 45px;
}
.dos .player-right .items .card .cartes
{
    width: 94px;
    height: 133px;
    background-size: 100% 100%;
    background-position: center;
    transition: 0.4s;
}
.dos .player-right .items .infos h1
{
    font-size: 20px;
    margin: 0;
}
.dos .player-right .items .card-d
{
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 40px;
    transition: 0.4s;
}
.dos .player-right .items .card-d:hover
{
    width: auto;
    transition: 0.4s;
}
.dos .player-right .items .card-d .carte
{
    width: 94px;
    height: 133px;
    background-image: url('../img/uno/arriere.svg');
    background-size: 100% 100%;
    background-position: center;
    margin: -20px;
    border-radius: 10px;
    transition: 0.4s;
}
.dos .player-left
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    align-items: start;
}
.dos .player-left .items
{
    display: flex;
    align-items: center;
    margin: 15px 0 15px 50px;
    transition: 0.4s;
}
.dos .player-left .items .infos
{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 35px;
}
.dos .player-left .items .infos .img
{
    background: #FF8F8F;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 80px;
    margin: 15px 0;
}
.dos .player-left .items .infos .img img
{
    height: 45px;
}
.dos .player-left .items .card .cartes
{
    width: 94px;
    height: 133px;
    background-size: 100% 100%;
    background-position: center;
    transition: 0.4s;
}
.dos .player-left .items .infos h1
{
    font-size: 20px;
    margin: 0;
}
.dos .player-left .items .card-d
{
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 40px;
    transition: 0.4s;
}
.dos .player-left .items .card-d:hover
{
    width: auto;
    transition: 0.4s;
}
.dos .player-left .items .card-d .carte
{
    width: 94px;
    height: 133px;
    background-image: url('../img/uno/arriere.svg');
    background-size: 100% 100%;
    background-position: center;
    margin: -20px;
    border-radius: 10px;
    transition: 0.4s;
}
.anim-carte
{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}
.anim-carte .carte
{
    width: 94px;
    height: 133px;
    background-image: url('../img/uno/arriere.svg');
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal
{
    position: fixed;
    top: 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(40,40,40,0.6);
}
.modal .color
{
    background: #2E2E2E;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25);
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal .color h1
{
    margin: 40px 0;
}
.modal .color .selector
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 40px;
}
.modal .color .selector .item
{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.modal .color .selector .item:hover
{
    transform: scale(1.1);
}
.modal .color .selector .item:nth-child(1)
{
    background: var(--UNO-Rouge, linear-gradient(159deg, #EC0000 9.51%, #960000 91.8%));
}
.modal .color .selector .item:nth-child(2)
{
    background: var(--UNO-Vert, linear-gradient(158deg, #01CC09 8.58%, #007B05 89.52%));
}
.modal .color .selector .item:nth-child(3)
{
    background: var(--UNO-Bleu, linear-gradient(157deg, #006BCD 5.58%, #00427E 90.79%));
}
.modal .color .selector .item:nth-child(4)
{
    background: var(--UNO-Jaune, linear-gradient(158deg, #F0E933 7.51%, #BEB707 92.23%));
}
.player-right .items .actif .img, .player-left .items .actif .img
{
    background: #72F977 !important;
}
/* RANK */
.rank
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rank h1
{
    font-size: 55px;
    margin: 20px 0;
}
.rank .grid-classement
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    gap: 25px;
    width: 100%;
}
.rank .grid-classement .lst
{
    padding: 20px;
    border-radius: 10px;
    background: #39274C;
    width: 100%;
    max-height: 50vh;
    overflow: auto;
}
.rank .grid-classement .lst h1
{
    font-size: 40px;
}
.rank .grid-classement .lst .parent-podium
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.rank .grid-classement .lst .parent-podium .podium
{
    display: flex;
    align-items: end;
    height: 20vh;
}
.rank .grid-classement .lst .parent-podium .podium .second
{
    display: flex;
    flex-direction: column-reverse;
    background: #D7D7D7;
    height: 80%;
    width: 10vw;
    overflow: hidden;
}
.rank .grid-classement .lst .parent-podium .podium .first
{
    display: flex;
    flex-direction: column-reverse;
    background: #D7B767;
    height: 100%;
    width: 10vw;
    overflow: hidden;
}
.rank .grid-classement .lst .parent-podium .podium .third
{
    display: flex;
    flex-direction: column-reverse;
    background: #DB894E;
    height: 60%;
    width: 10vw;
    overflow: hidden;
}
.rank .grid-classement .lst .parent-podium .podium .second .place,
.rank .grid-classement .lst .parent-podium .podium .first .place,
.rank .grid-classement .lst .parent-podium .podium .third .place
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: 50px;
    font-weight: 600;
}
.rank .grid-classement .lst .parent-podium .podium .second .place
{
    color: #686868;
}
.rank .grid-classement .lst .parent-podium .podium .first .place
{
    color: #FFECAA;
}
.rank .grid-classement .lst .parent-podium .podium .third .place
{
    color: #953E00;
}
.rank .grid-classement .lst .parent-podium .podium .second .username,
.rank .grid-classement .lst .parent-podium .podium .first .username,
.rank .grid-classement .lst .parent-podium .podium .third .username
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}
.rank .grid-classement .lst .list-joueur
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.rank .grid-classement .lst .list-joueur .rank-i
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background: #5E348A;
    margin: 5px 0;
}
.rank .grid-classement .lst .list-joueur .rank-i .start
{
    display: flex;
    align-items: center;
}
.rank .grid-classement .lst .list-joueur .rank-i .start .place
{
    font-weight: 600;
    font-size: 24px;
    margin-right: 10px;
    user-select: none;
    -webkit-user-select: none;
}
.rank .grid-classement .lst .list-joueur .rank-i .start .username
{
    font-size: 16px;
}
.rank .grid-classement .lst .list-joueur .rank-i .end
{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.rank .grid-classement .lst .list-joueur .rank-i .end .bonus
{
    margin-left: 10px;
    position: relative;
}
.rank .grid-classement .lst .list-joueur .rank-i .end .bonus .bns
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF00FF;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.rank .grid-classement .lst .list-joueur .rank-i .end .bonus .bns::after
{
    content: var(--msg);
    position: absolute;
    display: none;
    font-size: 15px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;
}
.rank .grid-classement .lst .list-joueur .rank-i .end .bonus .bns:hover::after
{
    display: block;
}
.rank .fin
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rank .fin h2
{
    font-size: 30px;
    margin: 20px 0;
    color: var(--gray);
}
.rank .fin h1
{
    text-align: center;
}
.bounce-a
{
    animation: boucing 1s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* SIMON */
.simon
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.simon .prt-simon
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.simon .prt-simon .disp-formes
{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simon .prt-simon .item
{
    margin: 0 40px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0px 0px 0px 0px black;
}
.simon .disabled .item
{
    cursor: not-allowed;
}
.simon .prt-simon:not(.disabled) .item:hover
{
    transform: scale(1.1);
}
.simon .prt-simon:not(.disabled) .item:active
{
    transform: scale(0.8);
}
.simon .prt-simon:not(.malus) .f1
{
    background: linear-gradient(159deg, #EC0000 9.51%, #960000 91.8%);
}
.simon .prt-simon:not(.malus) .f2
{
    background: linear-gradient(158deg, #F0E933 7.51%, #BEB707 92.23%);
}
.simon .prt-simon:not(.malus) .f3
{
    background: linear-gradient(157deg, #006BCD 5.58%, #00427E 90.79%);
}
.simon .prt-simon:not(.malus) .f4
{
    background: linear-gradient(158deg, #01CC09 8.58%, #007B05 89.52%);
}
.simon .malus .f1, .simon .malus .f2, .simon .malus .f3, .simon .malus .f4
{
    background: linear-gradient(158deg, #C0C0C0 8.58%, #3F3F3F 89.52%);
}
.simon .prt-simon .dis
{
    opacity: 0.2;
}
.simon .prt-simon h2
{
    color: var(--gray);
    font-weight: 500;
    font-size: 30px;
}
.simon .prt-simon h1
{
    font-size: 65px;
    margin: 20px 0;
}
.list-player
{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: end;
    padding: 50px;
}
.list-player .item
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    transition: 0.4s;
}
.list-player .item .icon
{
    background: #FF8F8F;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.list-player .item:first-child .icon
{
    background: #72F977;
    width: 115px;
    height: 115px;
}
.list-player .item .icon img
{
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
}
.list-player .item:first-child .icon img
{
    height: 60px;
}
.list-player .item .infos
{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-player .item .infos p
{
    font-size: 25px;
    font-weight: 700;
    font-family: 'K2D', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    max-width: 8vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-player .infos-tours
{
    display: flex;
    flex-direction: column;
    height: 115px;
    padding: 0 20px;
}
.list-player .infos-tours h2
{
    font-size: 20px;
    color: var(--gray);
    font-weight: 400;
}
.list-player .infos-tours h1
{
    font-size: 35px;
    margin: 7px 0;
}
.malus-infos
{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    align-items: end;
    padding: 10px;
}
.malus-infos h1
{
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.malus-infos h1::after
{
    content: "";
    background: #FF4B4B;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 10px;
}
.malus-infos p
{
    color: var(--gray);
    font-size: 15px;
    margin: 5px 0 1px 0;
}
.malus-infos p.user
{
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.modal-infos
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}
.modal-infos .win
{
    background: linear-gradient(112deg, rgba(181, 239, 108, 0.80) 19.71%, rgba(104, 137, 62, 0.80) 88.09%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}
.modal-infos .win h1
{
    font-size: 150px;
    font-family: 'K2D', sans-serif;
    margin: 20px 0;
}
.modal-infos .win p
{
    font-size: 70px;
}
.modal-infos .loose
{
    background: linear-gradient(112deg, rgba(239, 108, 108, 0.80) 19.71%, rgba(137, 62, 62, 0.80) 88.09%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}
.modal-infos .loose h1
{
    font-size: 150px;
    font-family: 'K2D', sans-serif;
    margin: 20px 0;
}
.modal-infos .loose p
{
    font-size: 50px;
    text-align: center;
}

/* --- MEMORY --- */
.memory
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
}
.memory .prt-memory
{
    display: flex;
    flex-direction: column;
}
.memory .prt-memory .plateau
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
}
.memory .prt-memory .plateau .card
{
    width: 98px;
    height: 139px;
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.memory .prt-memory .plateau:not(.disabled) .card:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.25);
}
.memory .prt-memory .plateau:not(.disabled) .card:active
{
    transform: scale(0.8);
}
.memory .prt-memory .disabled .card {
    cursor: not-allowed;
    opacity: 0.8;
}
.memory .prt-memory .plateau .card .fond
{
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 139px;
    background-image: url('../img/memory/arr_me.svg');
    background-size: 100% 100%;
}
.memory .prt-memory .plateau .card .face
{
    width: 98px;
    height: 139px;
    background-size: 100% 100%;
    transform: rotate3d(0, 1, 0, 90deg);
    transition: 0.4s;
}
.memory .prt-memory .plateau .cd-back .fond
{
    transform: rotate3d(0, 1, 0, -90deg);
}
.memory .prt-memory .plateau .cd-back .face
{
    transform: rotate3d(0, 1, 0, 0deg);
}
.memory .prt-memory .infos
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
}
.memory .prt-memory .infos h2
{
    font-size: 30px;
    color: var(--gray);
    margin: 0 15px;
}
.memory .prt-memory .infos h1
{
    font-size: 55px;
    margin: 15px 0;
}
.modal-consigne
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(40,40,40,0.6);
    z-index: 2;
}
.modal-consigne .prt
{
    background: #2E2E2E;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25);
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
}
.modal-consigne .prt h1
{
    font-size: 35px;
    margin-bottom: 25px;
}
.modal-consigne .prt p
{
    font-size: 18px;
}
.modal-consigne .prt .malus
{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 20px 0 0 0;
}
.modal-consigne .prt .malus p
{
    border-radius: 10px;
    background: linear-gradient(158deg, #ff0000 8.58%, #bd0000 89.52%);
    padding: 2px 20px;
}
.modal-consigne .prt .end
{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-top: 15px;
}
.modal-consigne .prt .end button
{
    background: #CC64CE;
    color: white;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 15px;
    transition: 0.4s;
}
.modal-consigne .prt .end button:hover
{
    background: #780078;
}
.modal-consigne .prt .end p
{
    font-size: 15px;
    color: var(--gray);
}
.modal-consigne .prt .end p span
{
    font-weight: bold;
}
/* -------- Questions -------- */
.qst-showing
{
    width: 100vw;
    height: 100vh;
}
.qst-showing .bar-loading
{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 5vh;
    top: 0;
    left : 0;
    background: rgba(151, 71, 255, 0.15);
}
.qst-showing .bar-loading .cnt
{
    background: #A4FF95;
    width: 100%;
    height: 100%;
}
.qst-showing .disp-qst
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.qst-showing .disp-qst h1
{
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
}
.qst-showing .disp-qst p
{
    margin: 20px 0;
    font-size: 15px;
    color: var(--gray);
    text-align: center;
}
.qst-showing .res-qst
{
    display: flex;
    padding: 40px;
    position: fixed;
    bottom: 0;
    left :0;
    width: 100vw;
}
.qst-showing .res-qst .input, .qst-showing .res-qst .trfl, .qst-showing .res-qst .qcm
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.qst-showing .res-qst .input input
{
    width: 80%;
    height: 50px;
    border: none;
    background: white;
    font-size: 25px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 20px;
}
.qst-showing .res-qst .trfl button
{
    width: 100%;
    margin: 0 25px;
    border-radius: 10px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 30px 0;
    transition: 0.4s;
    font-family : 'Outfit', sans-serif;
    font-weight: 700;
}
/*.qst-showing .res-qst .trfl button.false
{
    background: #FF4B4B;
    color: white;
}
.qst-showing .res-qst .trfl button.true
{
    background: #008f04;
    color: white;
}*/
.qst-showing .res-qst .trfl button.false
{
    background: #CC64CE;
    border: 8px solid #CC64CE;
    color: white;
}
.qst-showing .res-qst .trfl button.true
{
    background: #5E348A;
    border: 8px solid #5E348A;
    color: white;
}
.qst-showing .res-qst .trfl button:hover
{
    transform: scale(1.1);
}
.qst-showing .res-qst .trfl button:active
{
    transform: scale(0.8);
}
.qst-showing .res-qst .trfl button.actif
{
    border: 8px solid #EFFF3A;
}
.qst-showing .res-qst .qcm
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.qst-showing .res-qst .qcm .choix
{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    background: #5E348A;
    padding: 10px;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    border: 8px solid #5E348A;
    color: white;
}
.qst-showing .res-qst .qcm .choix .index
{
    font-size: 30px;
    margin-right: 15px;
}
.qst-showing .res-qst .qcm .choix:hover
{
    transform: scale(1.05);
}
.qst-showing .res-qst .qcm .actif
{
    border: 8px solid #EFFF3A;
}
.resp-showing
{
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.resp-showing .grid-resp
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 60vh;
    overflow: auto;
}
.resp-showing .grid-resp .item
{
    background: rgba(113, 1, 157, 0.29);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    height: fit-content;
}
.resp-showing .grid-resp .item .infos
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resp-showing .grid-resp .item .infos h3.good
{
    background: linear-gradient(158deg, #01CC09 8.58%, #007B05 89.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.resp-showing .grid-resp .item .infos h3.error
{
    background: linear-gradient(159deg, #EC0000 9.51%, #960000 91.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.resp-showing .grid-resp .item .resp
{
    margin: 25px 0 0 0;
}
.resp-showing .grid-resp .item .resp .txt
{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.resp-showing .grid-resp .item .resp .qcm
{
    display: flex;
    align-items: center;
    background: #5E348A;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
}
.resp-showing .grid-resp .item .resp .qcm h3
{
    margin-right: 10px;
}
.resp-showing .grid-resp .item .resp .vrf
{
    display: flex;
    align-items: center;
    background: #CC64CE;
    font-weight: 500;
    padding: 10px 15px;
    justify-content: center;
    font-size: 18px;
    border-radius: 5px;
}
.resp-showing .infos-reponse
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}
.resp-showing .infos-reponse h2
{
    font-size: 30px;
    color: var(--gray);
    margin: 0 15px;
}
.resp-showing .infos-reponse h1
{
    font-size: 55px;
    margin: 15px 0;
}
.resp-showing .actions
{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
.resp-showing .actions .start
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resp-showing .actions .start button
{
    background: #5E348A;
    color: white;
    font-family: 'Outfit', sans-serif;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 15px;
    transition: 0.4s;
}
.resp-showing .actions .start button:hover
{
    background: #6e2bb8;
}
.resp-showing .actions .start button:disabled
{
    background: #3c3247;
    cursor: not-allowed;
}
.resp-showing .actions .end
{
    display: flex;
    align-items: center;
}
.resp-showing .actions .end button
{
    background: #CC64CE;
    color: white;
    font-family: 'Outfit', sans-serif;
    border: none;
    padding: 15px 30px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 15px 0 25px;
    transition: 0.4s;
}
.resp-showing .actions .end button:hover
{
    background: #eb4fed;
}
.resp-showing .actions .end p
{
    font-size: 18px;
    color: var(--gray);
}
.resp-showing .actions .end p span
{
    font-weight: bold;
}
.resp-showing .modal-appel
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(40,40,40,0.6);
    z-index: 2;
}
.resp-showing .modal-appel .ins-modal
{
    background: #2E2E2E;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25);
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
}
.resp-showing .modal-appel .ins-modal .prt-show-vote
{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.resp-showing .modal-appel .ins-modal .prt-show-vote .no-vote
{
    background: red;
    height: 4vh;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.resp-showing .modal-appel .ins-modal .prt-show-vote .yes-vote
{
    background: green;
    height: 4vh;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.resp-showing .modal-appel .ins-modal .prt-show-vote .no-vote h3, .resp-showing .modal-appel .ins-modal .prt-show-vote .yes-vote h3
{
    font-size: 20px;
    color: white;
    margin: 0 8px;
}
.resp-showing .modal-appel .ins-modal .other
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.resp-showing .modal-appel .ins-modal .bar-hr
{
    width: 5vw;
    margin: 40px 0 25px 0;
    background: white;
    padding: 1.5px;
    border-radius: 20px;
}
.resp-showing .modal-appel .ins-modal h3
{
    color: var(--gray);
    margin: 15px 0;
    font-weight: 400;
}
.resp-showing .modal-appel .ins-modal h2
{
    font-size: 25px;
    margin: 5px 0 10px 0;
}
.resp-showing .modal-appel .ins-modal .act-btn
{
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}
.resp-showing .modal-appel .ins-modal .act-btn button
{
    width: 100%;
    margin: 0 25px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: 0.4s;
}
.resp-showing .modal-appel .ins-modal .act-btn button.no
{
    background: linear-gradient(159deg, #EC0000 9.51%, #960000 91.8%);
    color: white;
}
.resp-showing .modal-appel .ins-modal .act-btn button.no:hover
{
    transform: scale(1.05);
}
.resp-showing .modal-appel .ins-modal .act-btn button.yes
{
    background: linear-gradient(158deg, #01CC09 8.58%, #007B05 89.52%);
    color: white;
}
.resp-showing .modal-appel .ins-modal .act-btn button.yes:hover
{
    transform: scale(1.05);
}
.resp-showing .modal-appel .ins-modal p.rest
{
    margin: 15px 0;
    color: var(--gray);
}
.resp-showing .modal-appel .ins-modal p.rest span
{
    font-weight: bold;
}
.ascension
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    flex-direction: column;
}
.ascension .infos
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ascension .infos h2
{
    font-size: 30px;
    color: var(--gray);
    margin: 15px 0;
}
.ascension .infos h1
{
    font-size: 55px;
    margin: 15px 0;
}
.ascension .grid-jeu
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 84vh;
    width: 100%;
}
.ascension .grid-jeu .actions
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.ascension .grid-jeu .actions .counter
{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(151, 71, 255, 0.15);
    width: 100%;
    height: 5vh;
}
.ascension .grid-jeu .actions .counter .cnt
{
    width: 100%;
    height: 100%;
    background: #A4FF95;
}
.ascension .grid-jeu .perso
{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.ascension .grid-jeu .perso .box, .ascension .grid-jeu .perso .box-anim
{
    width: 283px;
    height: 115px;
    background: #4D95EA;
    border: 13px solid #0056BA;
    border-radius: 10px;
    position: relative;
}
.ascension .grid-jeu .perso .box-anim
{
    position: absolute;
    z-index: 2;
}
.ascension .grid-jeu .actions h1
{
    font-size: 75px;
    margin: 30px 0;
}
.ascension .grid-jeu .actions .keyboard
{
    display: flex;
    align-items: center;
    margin: 25px 0;
}
.ascension .grid-jeu .actions .keyboard .touche
{
    width: 196px;
    height: 196px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 25px;
    border: 11px solid #7C7C7C;
    transition: 0.4s;
    color: black;
    font-size: 60px;
    font-family: 'K2D', sans-serif;
}
.ascension .grid-jeu .actions .keyboard .pressed
{
    opacity: 0.6;
}

/* FIN DE PARTIE */
.prt-fin-jeu
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}
.prt-fin-jeu h1.title
{
    font-size: 70px;
    margin: 10px 0 20px 0;
}
.prt-fin-jeu .show-ranking
{
    width: 100%;
    background: #39274C;
    padding: 20px;
    border-radius: 10px;
    height: 65vh;
    overflow: auto;
}
.prt-fin-jeu .show-ranking h2
{
    font-size: 30px;
}
.prt-fin-jeu .show-ranking .prt-podiu
{
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 20px 0;
    height: 21vh;
}
.prt-fin-jeu .show-ranking .prt-podiu .scd
{
    background: #D7D7D7;
    width: 20vw;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 80%;
}
.prt-fin-jeu .show-ranking .prt-podiu .scd h2
{
    color: #686868;
}
.prt-fin-jeu .show-ranking .prt-podiu .first
{
    background: #D7B767;
    width: 20vw;
    border-radius: 10px 10px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
}
.prt-fin-jeu .show-ranking .prt-podiu .first h2
{
    color: #FFECAA;
}
.prt-fin-jeu .show-ranking .prt-podiu .third
{
    background: #DB894E;
    width: 20vw;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 60%;
}
.prt-fin-jeu .show-ranking .prt-podiu .third h2
{
    color: #953E00;
}
.prt-fin-jeu .show-ranking .prt-podiu .third h3, .prt-fin-jeu .show-ranking .prt-podiu .first h3, .prt-fin-jeu .show-ranking .prt-podiu .scd h3
{
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}
.prt-fin-jeu .show-ranking .list-other
{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.prt-fin-jeu .show-ranking .list-other .item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5E348A;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 8px 0;
}
.prt-fin-jeu .show-ranking .list-other .item .start
{
    display: flex;
    align-items: center;
}
.prt-fin-jeu .show-ranking .list-other .item .start h3
{
    font-size: 20px;
    margin-right: 15px;
}
.prt-fin-jeu .show-ranking .list-other .item .start p
{
    font-size: 18px;
}
.prt-fin-jeu .show-ranking .list-other .item .end
{
    display: flex;
    align-items: center;
}
.prt-fin-jeu .fin-dst
{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 40px 0;
    flex-direction: row-reverse;
}
.prt-fin-jeu .fin-dst h1
{
    font-size: 50px;
    margin: 0 15px;
}
.prt-fin-jeu .fin-dst h2
{
    font-size: 27px;
    font-weight: 600;
    color: var(--gray);
    margin: 0 15px;
}











/* PARTIE MOBILE */
@media screen and (max-width: 860px)
{

    .prt h1
    {
        text-align: center;
        font-size: 80px;
        margin: 30px 0;
    }
    .prt p
    {
        font-size: 20px;
        text-align: center;
    }
    .prt .input
    {
        width: 100vw;
        flex-direction: column;
    }
    .prt .input input
    {
        margin: 20px 0;
        width: 90%;
    }
    .prt .input button
    {
        width: 90%;
        margin: 15px 0;
    }
    .waiting .aff .loading-anim .circle
    {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.35);
    }
    .waiting .btn-changename
    {
        bottom: 20px;
        right: 20px;
    }
    .dos .card .pioche
    {
        width: 127px;
        height: 180px;
        background-size: 100% auto;
    }
    .dos .card .cartes
    {
        width: 147px;
        height: 200px;
        background-size: 100% 100%;
    }
    .dos h2
    {
        font-size: 20px;
    }
    .dos h1
    {
        font-size: 37px;
    }
    .dos .deck
    {
        bottom: -25px;
        width: 100vw;
    }
    .dos .deck .cartes
    {
        margin: 0px;
        width: 127px;
        height: 180px;
        background-size: 100% auto;
    }

}





:root
{

    --BG : linear-gradient(131deg, #00091F 15.91%, #320043 73.44%);
    --gray : #ABABAB;
    --msg : 'Attente...';

}
@keyframes circle
{
    0%
    {
        transform: translate(0, 0);
    }
    10%
    {
        transform: translate(0, -50px);
    }
    15%
    {
        transform: translate(0, 0);
    }
    100%
    {
        transform: translate(0, 0);
    }
}
@keyframes jeuArrive
{
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
@keyframes boucing
{
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #CC64CE;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #712A73;
}